<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      
      <div class='container'>
      <a class="navbar-brand" href="/">
        Wessam <span class='light'>blog</span>
      </a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
          
          <li class="nav-item">
           <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
          </li>

          <% if author_signed_in? %>
            <li class="nav-item dropdown author-nav">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <%= link_to 'My posts', authors_posts_path, class: "dropdown-item" %>
                <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
        </ul>

      </div>

    </div>
</nav>